In [267]:
import pandas as pd
import math
import numpy as np

In [268]:
def get_row_position(input_string):   
    
    input_string = input_string[0:7]
    lower = 0
    upper = 127
       
    for string in input_string:
        
        lenght = (upper - lower)/2
        
        if string == "F":
            
            #Take lower half
            
            upper = upper - math.ceil(lenght)        
            
        else:
            
            #Take upper half
            
            lower = lower + math.ceil(lenght)
            
    return lower

In [269]:
def get_column_position(input_string):
    
    input_string = input_string[7:]
    lower = 0
    upper = 7    
           
    for string in input_string:
        
        lenght = (upper - lower)/2
        
        if string == "L":
            
            #Take lower half
            
            upper = upper - math.ceil(lenght)        
            
        else:
            
            #Take upper half
            
            lower = lower + math.ceil(lenght)
            
    return lower

In [270]:
def get_seat(input_string):
    
    row_position = get_row_position(input_string = input_string)
    column_position = get_column_position(input_string = input_string)
    
    return (row_position, column_position)

In [271]:
def compute_id(row_position, column_position):
    
    id_tag = row_position*8 + column_position
    
    return id_tag

In [272]:
df = pd.read_csv('input_data.csv', header = None)

In [273]:
df.columns = ['data']

In [274]:
input_data = df.data

In [275]:
result = []

for data in input_data:
    
    row_position, column_position = get_seat(input_string = data)
    result.append(compute_id(row_position = row_position, column_position = column_position))

In [276]:
print("The highest seat id is: {}".format(np.max(result)))

The highest seat id is: 832

In [277]:
#Part 2

In [278]:
row = []
column = []
id_tag = []

for data in input_data:
    
    row_position, column_position = get_seat(input_string = data)
    row.append(row_position)
    column.append(column_position)
    id_tag.append(compute_id(row_position = row_position, column_position = column_position))

In [279]:
tickets = pd.DataFrame(data = {'row': row, 'column': column, 'id': id_tag})

In [280]:
tickets.sort_values(by = ['row', 'column'], inplace = True)

In [281]:
tickets.id.min()

51

In [290]:
inspect_frame = tickets.groupby('row').column.nunique().to_frame('occupited_columns').reset_index()

In [293]:
inspect_frame[inspect_frame.occupited_columns != 8]

    row  occupited_columns
0     6                  5
58   64                  7
98  104                  1

In [295]:
tickets[tickets.row == 64]

     row  column   id
528   64       0  512
394   64       1  513
439   64       2  514
239   64       3  515
19    64       4  516
263   64       6  518
407   64       7  519

-> we sit in row 64, column 5

In [296]:
8*64 + 5

517