In [29]:
import pandas as pd
import numpy as np

In [30]:
#Read in data

lines = open('input_data.csv').read().splitlines()

In [31]:
lines.append('')

In [32]:
parsed_data = []
new_string = ""

for x in lines:   
     
    new_string = new_string + " " + x
    
    if x == "":
        
        parsed_data.append(new_string)
        new_string = ""

In [21]:
def counter_function(input_string):
    
    input_string = input_string.replace(' ','')
    return len(set(input_string))

In [23]:
result = []

for input_data in parsed_data:
    
    result.append(counter_function(input_string = input_data))

In [26]:
print("The answer is {}".format(np.sum(result)))

The answer is 6565

In [28]:
#Part 2

In [68]:
def check_if_letter_in_every_element(letter, string_list):
    
    number_of_elemets = len(string_list)
    letter_in_string = 0
    
    for string in string_list:
        
        if letter in string:
            
            letter_in_string = letter_in_string + 1
        
        else:
            
            pass
        
    if letter_in_string == number_of_elemets:
        
        return 1 
    
    else:
        
        return 0

In [77]:
def modified_counter_func(input_string):
    
    input_string = input_string.split(' ')
    target_var = 0
    
    conacted_string = ""

    for strings in input_string:
    
        conacted_string = conacted_string + strings
        
    conacted_string = set(conacted_string)
    
    for string in conacted_string:
        
        target_var += check_if_letter_in_every_element(letter = string, string_list = input_string)
    
    return target_var

In [78]:
lines = open('input_data.csv').read().splitlines()

In [79]:
lines.append('')

In [80]:
parsed_data = []
new_string = ""

for x in lines:   
     
    new_string = new_string + " " + x
    
    if x == "":
        
        parsed_data.append(new_string)
        new_string = ""

In [81]:
input_data = []

for input_string in parsed_data:
    
    input_data.append(input_string.strip())

In [86]:
result = []

for data in input_data:
    
    result.append(modified_counter_func(input_string = data))

In [87]:
print("The answer is {}

[8,
 7,
 1,
 15,
 0,
 11,
 12,
 5,
 15,
 10,
 0,
 4,
 6,
 0,
 1,
 3,
 6,
 6,
 4,
 2,
 1,
 0,
 1,
 1,
 12,
 11,
 1,
 14,
 1,
 22,
 2,
 3,
 3,
 3,
 8,
 6,
 1,
 3,
 16,
 12,
 19,
 2,
 6,
 4,
 1,
 8,
 6,
 7,
 8,
 24,
 0,
 13,
 8,
 9,
 1,
 0,
 0,
 3,
 6,
 5,
 0,
 3,
 0,
 22,
 1,
 5,
 9,
 8,
 8,
 8,
 0,
 19,
 0,
 13,
 7,
 8,
 3,
 22,
 2,
 1,
 11,
 0,
 5,
 10,
 6,
 4,
 2,
 10,
 0,
 1,
 1,
 5,
 12,
 15,
 14,
 24,
 11,
 3,
 2,
 4,
 3,
 1,
 0,
 13,
 15,
 9,
 5,
 21,
 8,
 3,
 7,
 4,
 3,
 2,
 5,
 2,
 1,
 11,
 20,
 3,
 10,
 1,
 12,
 0,
 4,
 3,
 13,
 5,
 1,
 6,
 3,
 13,
 14,
 8,
 6,
 2,
 9,
 2,
 5,
 2,
 0,
 8,
 1,
 2,
 0,
 0,
 0,
 10,
 0,
 14,
 0,
 1,
 23,
 0,
 0,
 3,
 8,
 9,
 10,
 15,
 0,
 3,
 12,
 2,
 0,
 11,
 3,
 4,
 3,
 16,
 19,
 0,
 2,
 2,
 2,
 12,
 3,
 4,
 26,
 20,
 1,
 5,
 11,
 2,
 7,
 13,
 0,
 9,
 1,
 7,
 0,
 2,
 1,
 1,
 0,
 16,
 8,
 2,
 0,
 4,
 1,
 8,
 13,
 0,
 3,
 1,
 5,
 4,
 4,
 1,
 5,
 14,
 0,
 4,
 7,
 0,
 0,
 2,
 16,
 1,
 1,
 16,
 5,
 11,
 1,
 14,
 6,
 0,
 11,
 0,
 1,
 2,
 21,
 2,
 9,
 17,
 9,
 3,
 4,
 1,
 11,
 0,
 6,
 3,
 0,
 0,
 6,
 0,
 4,
 1,
 5,
 18,
 7,
 1,
 0,
 1,
 1,
 15,
 5,
 13,
 7,
 12,
 1,
 11,
 2,
 2,
 1,
 3,
 5,
 1,
 7,
 14,
 1,
 19,
 1,
 8,
 1,
 2,
 3,
 3,
 5,
 10,
 11,
 0,
 13,
 9,
 1,
 7,
 19,
 9,
 4,
 2,
 10,
 1,
 13,
 23,
 10,
 7,
 1,
 17,
 2,
 2,
 6,
 1,
 1,
 1,
 0,
 7,
 8,
 4,
 5,
 11,
 6,
 6,
 1,
 23,
 10,
 9,
 8,
 6,
 2,
 18,
 2,
 3,
 1,
 9,
 0,
 4,
 22,
 3,
 3,
 1,
 1,
 16,
 19,
 1,
 20,
 17,
 17,
 1,
 6,
 10,
 8,
 2,
 2,
 0,
 8,
 1,
 14,
 12,
 0,
 6,
 9,
 6,
 18,
 1,
 0,
 7,
 1,
 5,
 9,
 3,
 5,
 13,
 8,
 14,
 17,
 2,
 5,
 6,
 3,
 16,
 16,
 22,
 3,
 16,
 2,
 14,
 5,
 1,
 23,
 19,
 0,
 9,
 2,
 14,
 23,
 9,
 14,
 8,
 7,
 4,
 5,
 8,
 12,
 1,
 8,
 2,
 4,
 4,
 1,
 3,
 1,
 8,
 2,
 3,
 6,
 20,
 11,
 1,
 4,
 5,
 1,
 9,
 1,
 6,
 22,
 4,
 5,
 9,
 13,
 0,
 1,
 2,
 8,
 2,
 4,
 12,
 25,
 8,
 13,
 1,
 1,
 5,
 15,
 1,
 1,
 12,
 1,
 15,
 3,
 5,
 25,
 1,
 16,
 3,
 5,
 1,
 11,
 14,
 2,
 11,
 18,
 5,
 4,
 4,
 4,
 8,
 13,
 0,
 13,
 3,
 5,
 4,
 8,
 5,
 0,
 5,
 2,
 6,
 2,
 0,
 6,
 2,
 11,
 7,
 5,
 2,
 2,
 8,
 2,
 4,
 12,
 5,
 2,
 16,
 1]